@use '../base/typography';
@use '../base/colors';

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75vh;
    background-color: colors.$color-background-hero;

    .animal-highlight {
        height: 55vh;
        padding: 15px;
        padding: 100px auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .animal-info {
            height: 50%;
            width: 50%;
            padding: 3%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                @extend .p;
                font-size: 24px;
            }
        }

        .animal-image {
            width: 50%;
            height: 100%;

            img {
                border-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .animal-gallery {
        display: flex;
        justify-content: space-between;
        width: 45%;
        margin: auto 10px;

        .animal-btn {
            width: 130px;
            height: 130px;
            overflow: hidden;
            border-radius: 50%;
            border-color: none;
            padding: 0px;
            border: 0px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}