@use '../base/typography';
@use '../base/colors';

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    background-color: colors.$color-background-hero;

    .animal-highlight {
        height: 40vh;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .animal-info {
        height: 70%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
            @extend .p;
            font-size: 24px;
        }
    }

    .animal-image {

        width: 30%;
        height: 90%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .animal-gallery {
        display: flex;
        justify-content: space-between;
        width: 45%;
        margin: auto 10px;

        .animal-btn {
            width: 130px;
            height: 130px;
            overflow: hidden;
            border-radius: 50%;
            border-color: none;
            padding: 0px;
            border: 0px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}