@use '../base/typography';
@use '../base/colors';

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75vh;
    background-color: colors.$color-background-hero;

    .animal-highlight {
        height: 70%;
        padding: 15px;
        padding: 100px auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .animal-info {
            height: 50%;
            width: 50%;
            padding: 3%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                font-size: 24px;
            }
        }

        .animal-image {
            width: 50%;
            height: 100%;

            img {
                border-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .animal-gallery {
        display: flex;
        justify-content: space-between;
        width: 45%;
        margin: auto 10px;

        .animal-btn {
            width: 130px;
            height: 130px;
            overflow: hidden;
            border-radius: 50%;
            border-color: none;
            padding: 0px;
            border: 0px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

// media queries
@media (max-width: 428px) {
    .hero-section {
        height: 110vh;

        .animal-highlight {
            flex-direction: column-reverse;
            justify-content: space-around;
            width: 100%;
            height: 80%;

            .animal-image {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .animal-info {
                width: 100%;
                height: 30%;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;

                p {
                    font-size: 16px;
                }

                h2 {
                    font-size: 40px;
                }
            }
        }

        .animal-gallery {
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 80%;
            padding: auto auto;
            background-color: #2C2E96;

            .animal-btn {
                width: 150px;
                height: 150px;
                overflow: hidden;
                border-radius: 90%;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}