@use '../base/colors';
@use '../base/typography';

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    background-color: colors.$color-background-form;
    color: colors.$color-text-default;

    .form-info {
        height: 18%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        p {
            @extend .p;
            font-size: 32px;
            width: 60%;
            text-align: center;
            font-weight: 500;
        }
    }

    .form-adoption {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;

    }

    .form-field {
        display: flex;
        flex-direction: column;

        label {
            @extend .h4;
        }

        input {
            border-radius: 8px;
            padding: 12px 16px;
            border: none;
        }
    }

    .form-btn {
        @extend .h4;
        background: colors.$btn-primary-color;
        border-radius: 8px;
        padding: 12px 16px;
        border: none;
    }
}