@use '../base/colors';

header {
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px;
    background-color: colors.$color-primary;

    .header-content {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
    }
}