// General Colors
$color-primary:#1F2937;
$color-secondary:#F59F0A;
$color-highlight:#F97415;

// Button Colors
$btn-primary-color:$color-highlight;

// Text Colors
$color-text-default:#FFFFFF;
$color-text-animal:$color-highlight;

//Background
$color-background-form:$color-secondary;
$color-background-hero:#FFFFFF;
