@use './layout/header';
@use './layout/animal-hero';
@use './layout/formulary';
@use './layout/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}