@use './layout/header';

@use './layout/animal-hero';
@use './layout/formulary';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}